{% extends 'index.html' %}

{% block content %}

    <div class="container">
        <center>
            <img src="{{product.product_image.url}}" style="width:700px;height:600px;" alt="">
            <h1>{{product.product_name}}</h1>
            <p>{{product.product_description}}</p>
            <p class="card-text" style="background-color:red; color: white" >{{product.product_price}} AZN</p>
            <strong>Paylaşıldı: {{product.author}} -tərəfindən</strong>
            <br><br>
            {% if user.is_authenticated %}
                <a href="{% url 'update-product' product.id %}" class="btn btn-info">Dəyişdir</a>
                <small>-------------------------</small>
                <a href="{% url 'delete-product' product.id %}" class="btn btn-danger">Sil</a>
                {% endif %}
            {% comment %} <small>{{product.likes}}</small> {% endcomment %}
        </center>
        <br>
        <a href="{% url 'index' %}" class="btn btn-secondary">Geri</a>
        <br><br>
        {% comment %} <form action="{% url 'product-like' product.pk %}" method = "POST">
            {% csrf_token %}
            <button type="submit", name='product_id', value="{{product.id}}", class="btn btn-primary btn-sm">Like</button>
        </form> {% endcomment %}
    </div>

{% endblock content %}